<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>A First App</title>
    <link rel="stylesheet" href="styles.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  </head>
  <body>
    <div id="app" v-cloak>
      <div>
        <label for="goal" :style="{fontSize: '2rem'}">Goal Keeper App</label>
        <input type="text" v-model="data" placeholder="enter goals here" :style="{padding: '10px'}" id="goal" />
        <button @click="updateGoal"  :style="{backgroundColor: 'red', color: 'white', border: 'none', padding: '10px'}">Add Goal</button>
      </div>
      <ul>
        <li v-for="goal in goals">
          <span class="material-icons">done</span> {{goal}}</li>
      </ul>
    </div>

    <!-- import Vue cdn -->
    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>

    <script>
      const moutedApp = app.mount("#app");
    </script>
  </body>
</html>
