<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        [v-cloak]{
            display: none;
        }

        .box{
            display: block;
            width: 200px;
            height: 200px;
            background-color: blueviolet;
            padding: 20px;
            color: #fff;
            text-transform: uppercase;
            line-height: 2rem;
        }
        ol{
            text-transform: capitalize;
        }
    </style>
</head>
<body>
    <div id="app" v-cloak>
        <div class="box" v-if="visible">
            <p>{{greeting}}</p> 

            <ol>
                <li v-for="(todo, index) in todos" :key="index">
                    {{todo.text}}
                </li>
                <!-- <todo-item></todo-item> -->
            </ol>

        </div>
        <button v-on:click="reverseMessage">Reverse Message</button>
        <button v-on:click="toggleBox">toggleBox</button>
      
    

    <script src="https://unpkg.com/vue@next"></script>
    <script>

        
        const app = Vue.createApp({
            data() {
                return {
                    greeting: "Hello Salmah, welcome to Vue" + new Date().toLocaleString(), 
                    visible: true,
                    todos: [
                        {text: 'Learn Javascript'},
                        {text: 'Learn Vue'},
                        {text: 'Build something awesome'}
                    ]
                }
            },
            methods: {
                reverseMessage(){
                    this.greeting = this.greeting.split('').reverse().join('')
                },
                toggleBox(){
                    this.visible = !this.visible
                }
            },

        })
        
        


        app.mount('#app')
    </script>
</body>
</html>